hr {
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

.jumbotron {
    background-color: rgba(0, 123, 255, 0.25);
}

#blog_stuff {
    padding-top: 50px;
    background-color: rgba(0, 123, 255, 0.25);
}

@media screen and (max-width: 580px) {
    body { padding-top: 50px; }
}

