{% extends "partials/base.html" %}
{% load staticfiles%}
{% block title %}Ian's Site{% endblock title %}
{% block content %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h1 class="jumbotron-heading">Hi, I'm Ian</h1>
                        <p class="lead text-muted">
                            Hi, I'm Ian and I'm a senior Information Systems Management major at Auburn University
                            with a passion for information technology, software development, and data analysis.
                            I believe that the job of IT is to bring a common-sense viewpoint and bridge the gap
                            between a technology oriented world and everyday business processes.
                            I have work experience with communicating technology ideas to people, software development,
                            as well as experience with organization and team management. Some examples of work I've done
                            can be seen below!
                        </p>
                        <p>
                            <a href="mailto:icf0001@auburn.edu" class="btn btn-primary my-2">Email Me</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'face.jpg' %}" height="300px"/>
                    </div>
                </div>
            </div>
        </section>
        <div class="py-5 bg-dark">
            <div class="container">
                <div class="row" style="display:flex; flex-wrap: wrap;">
                    {%  for job in jobs.all %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ job.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ job.title }}</h5>
                                    <p class="card-text">{{ job.blurb | safe }}</p>
                                    <div class="btn-group-right">
                                        <a href="{% url 'summary' job.id%}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View Details
                                        </button>
                                        </a>
                                        {% if job.github_link != 'none' %}
                                            <a href="{{ job.github_link }}" target="_blank">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Link to Project</button>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%  endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}