{% extends "partials/base.html" %}
{% load staticfiles%}
{% block title %}Ian's Site{% endblock title %}
{% block analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121903981-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121903981-1');
    </script>
{% endblock analytics %}
{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h1 class="jumbotron-heading">Hi, I'm Ian</h1>
                        <p class="lead text-muted">Hi, I'm Ian and I like experimenting with web development, especially in Python</p>
                        <p>
                            <a href="mailto:icf0001@auburn.edu" class="btn btn-primary my-2">Email Me</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'face.jpg' %}" height="300px"/>
                    </div>
                </div>
            </div>
        </section>

        <div class="py-5 bg-dark">
            <div class="container">
                <div class="row" style="display:flex; flex-wrap: wrap;">
                    {%  for job in jobs.all %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ job.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ job.title }}</h5>
                                    <p class="card-text">{{ job.summary }}</p>
                                </div>
                            </div>
                        </div>
                    {%  endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}