{% extends "partials/base.html" %}
{% load staticfiles%}
{% block title %}Ian's Site{% endblock title %}
{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Hi, I'm Ian</h1>
                <p class="lead text-muted">Hi, I'm Ian and I like experimenting with web development, especially in Python</p>
                <p>
                    <a href="mailto:ian.fraser858@gmail.com" class="btn btn-primary my-2">Email Me</a>
                </p>
                <img src="{% static 'face.jpg' %}" height="300px"/>
            </div>
        </section>

        <div class="py-5 bg-dark">
            <div class="container">
                <div class="row" style="display:flex; flex-wrap: wrap;">
                    {%  for job in jobs.all %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ job.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"> {{ job.summary }}</p>
                                </div>
                            </div>
                        </div>
                    {%  endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}